* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  body {
    background: #F1F2F6;
    font-family: 'calibri';
  }
  

  section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }


  header {
    background: #2e334c;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  img {
    width: 55px;
    height: 55px;
    margin-left: 30px;
  }
  
  nav ul {
    list-style: none;
    display: flex; 
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    margin-right: 20px;
    padding: 12px 0;
    float: left;
    position: relative;
    margin-top: 20px;
    font-size: 22px;

  }
  
  nav ul li a {
    text-decoration: none;
    color: #F1F2F6;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #F1F2F6;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  .home {
    background-image: url(images/lauraestepa2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
  }

  .home-content {
    text-align: right;
  }
  
  .home-content h1 {
    font-size: 110px;
    line-height: 80px;
    color: #120a0b;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-right: 100px; /* Adjusted to 0 to move to the right */
  }
  
  .home-content h2 {
    font-size: 40px;
    color: #120a0b;
    padding: 0 20px;
    margin-bottom: 25px;
    margin-right: 100px; /* Adjusted to 0 to move to the right */
    margin-left: 650px;
  }

  .btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: cornflowerblue; /* cambiar segun paleta*/ 
    color: #F9FAFC;
    margin-right: 365px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 20px;
  }

  .btn-1:hover{
    background-color: blue; /* cambiar segun paleta*/ 
  }


  .footer {
    padding: 10px 0;
    background-color: #2e334c;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}


.link {
  margin-right: 20px;
}

.link ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.message {
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

.link a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  padding: 20px;
}

.link img {
  width: 30px;
  height: auto;
}